<h1>Your Campaigns</h1>
<ul class="nav justify-content-center nav-creator">
    <li class="nav-item h6">
        <a class="nav-link" href="/campaigns/create">Generate</a>
    </li>
    <li class="nav-item h6">
        <!-- TODO: add filtering option -->
        <a class="nav-link" href="/campaigns/owned">Pending</a>
    </li>
    <li class="nav-item h6">
        <!-- TODO: add filtering option -->
        <a class="nav-link" href="/campaigns/owned">Approved</a>
    </li>
</ul>