<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="/images/logo.png" alt="logo" width="94.4" height="80" class="d-inline-block align-top">
        </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item h5">
					<a href="/campaigns" class="nav-link">Campaigns</a>
				</li>
				<% if (user) { %> 
					<% switch (user.role) {
						case "campaign_creator": %>
							<li class="nav-item h5">
								<a href="/campaigns/owned" class="nav-link">My Campaigns</a>
							</li>
							<li class="nav-item h5">
								<a href="/campaigns/create" class="nav-link">Create Campaign</a>
							</li>
							<% break; 
						case "root_administrator": %>
							<li class="nav-item h5">
								<a href="/register/admin" class="nav-link">Add Admins</a>
							</li>
						<% case "administrator": %>
							<li class="nav-item h5">
								<a href="/campaign_creators" class="nav-link">Campaign Creators Requests</a>
							</li>
							<li class="nav-item h5">
								<a href="/requests/campaigns" class="nav-link">Campaign Requests</a>
							</li>
							<li class="nav-item h5">
								<a href="/reports" class="nav-link">Reports</a>
							</li>
							<% break %>
					<% } %>
				<% } %>
			</ul>
			<div class="nav-item dropdown ms-auto d-none d-lg-flex">
				<% if (user) { %>
					<!-- User is logged in -->
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<%/* TODO: check for user profile picture */%>
							<img src="<%= user.picture 
								? `data:image/gif;base64,${Buffer.from(user.picture).toString("base64")}`
								: "/images/profile.png" %>" 
								alt="profile" 
								class="bg-light rounded-circle profile-icon">
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/profile">Profile</a></li>
							<li><a class="dropdown-item" href="/logout">Logout</a></li>
						</ul>
					</div>
				<% } else { %>
					<a class="btn btn-success me-2" href="/login">Login</a>
					<a class="btn btn-success" href="/register">Register</a>
				<% } %>
			</div>
			<div class="navbar-nav d-lg-none">
				<% if (user) { %>
					<li class="nav-item h5">
						<a href="/profile" class="nav-link">Profile</a>
					</li>
					<li class="nav-item h5">
						<a href="/logout" class="nav-link">Logout</a>
					</li>
					<% } else { %>
					<li class="nav-item h5">
						<a href="/login" class="nav-link">Login</a>
					</li>
					<li class="nav-item h5">
						<a href="/register" class="nav-link">Register</a>
					</li>
				<% } %>
			</div>
		</div>
    </div>
</nav>
