<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", {title: "Reset Password" }); %>

    <body>
        <%- include("./partials/nav_bar.ejs"); %>
            <!-- Container where is gonna go the forgot password form -->
            <div class="container py-5">
                <!-- Go Back Button -->
                <a href="#" class="btn btn-outline-dark mb-5">
                    <span>&larr;</span> Go Back
                </a>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="card p-4"
                        style="max-width: 400px; width: 100%; background-color: #D9D9D9; border-radius: 50px; border: none;">
                        <div class="card-body">
                            <!-- Title -->
                            <div class="d-flex align-items-center mb-4">
                                <h3 class="mb-0">Reset your password</h3>
                            </div>
                            <form action="" method="POST">
                                <!-- Username -->
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" style="border-radius: 50px;" id="username"
                                        name="username" placeholder="Enter your username">
                                </div>
                                <!-- New Password -->
                                <div class="mb-3">
                                    <label for="password" class="form-label">New password</label>
                                    <input type="password" class="form-control" style="border-radius: 50px;"
                                        id="password" name="password" placeholder="Enter your new password">
                                </div>
                                <!-- Confirm Password -->
                                <div class="mb-3">
                                    <label for="confirm_password" class="form-label">Confirm new password</label>
                                    <input type="password" class="form-control" style="border-radius: 50px;"
                                        id="confirm_password" name="confirm_password"
                                        placeholder="Enter your new password again">
                                </div>
                                <!-- Reset Button -->
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn"
                                        style="width: 150px; padding: 6px 12px; border-radius: 50px; background-color: #3d704d; color: white; border: none; transition: background-color 0.3s ease;"
                                        onmouseover="this.style.backgroundColor='#2e5239';"
                                        onmouseout="this.style.backgroundColor='#3d704d';">Reset password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>