.navbar-custom {
    background-color: #2bc74a; 
}

.nav-link {
    margin: 0 15px; 

}

.profile-icon {
    object-fit: cover;
    height: 4rem;
    aspect-ratio: 1/1;
}

#navbarNav{
    text-align: center;
}